{% load static %}

<!doctype html>
<html lang="sv">
<head>
    <meta charset="utf-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>
        {% block title %}
            {{ title }}
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'css/base.css' %}"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/white-party.css' %}"
    >
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>
